/* Modules */
.flex {
    display: flex;
} .centerH {
    justify-content: center;
} .centerV {
    align-items: center;
} .centerA {
    .centerH();
    .centerV();
} .scroll {
    overflow-y: scroll;
    word-break: break-word;
} .textC {
    text-align: center;
} .invis {
    display: none;
}

/* Functions */
.pad(@px) {
    margin: @px;
    padding: @px;
} .border(@color) {
    border: 2px @color solid;
    border-radius: 5px;
    .pad(5px);
} .section(@color) {
    color: @color;
    .border(@color);
    border-color: @color;
    background-color: fadeout(@color, 73.333%);
} .rangeW(@maxi, @mini) {
    min-width: @mini;
    max-width: @maxi;
} .rangeH(@maxi, @mini) {
    min-height: @mini;
    max-height: @maxi;
} .bg(@color) {
    background-color: @color;
} .align(@var) {
    text-align: @var;
} .lean(@var) {
    float: @var;
} .header(@color) {
    color: @color !important;
    font-size: larger !important;
    font-weight: bold !important;
}

/* Cls */
body {
    .bg(#112222);
    font-family: "Ubuntu Mono";
    color: #aaaaaa;
} .contain {
    .flex();
    .centerA();
} .page {
    /*.rangeW(80vw, 60vw);*/
    height: 70vh;
    .border(#0000ff);
    .centerH();
    .scroll();
    .lean(right);
} .nav {
    .rangeW(25vw, 15vw);
    min-height: 30vh;
    .border(#00ffff);
    .lean(left);
    .centerH();
    .scroll();
} .head1 {
    .header(#00ffff);
} .head2 {
    .header(#ff0088);
} .head3 {
    .header(#00ff00);
} .code {
    .border(#334444);
    .bg(#223333);
    font-size: smaller;
    .pad(2px);
} .note {
    .section(#ffff00);
} .warn {
    .section(#ff0000);
} .new {
    .section(#00ff00);
} .info {
    .section(#ff0088);
} .exc {
    .section(#00ffff);
} .comblock {
    .section(#888888);
} .find {
    .section(#ff8800);
} .lnk {
    .border(#008888);
    color: #00ffff;
    display: block;
    text-decoration: none !important;
    width: 80% !important;
    .align(left);
    &:hover {
        .section(#00ff00);
    }
} .sel {
    .lnk();
    .section(#00ffff);
    &:hover {
        .section(#ff0088);
    }
} a {
    color: #aaffff;
    &:hover {
        color: #ffaadd;
    }
} .hide {
    background-color: #334444;
    color: #334444;
    &:hover {
        color: #ffffff;
    }
}

/* Py Components */
.fn {
    color: #ff8800;
    font-weight: bold;
} .aio {
    color: #ff0088;
    font-style: italic;
} .cls {
    color: #8800ff;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
} .var {
    color: #ff8800;
} .op {
    color: #ffff00;
} .kw {
    color: #ff00ff;
} .str {
    color: #00ffff;
} .dec {
    color: #8800ff;
} .comm {
    color: #777777;
}

/* Media */
@media screen and (max-width: 640px) {
    .contain {
        display: block;
    } .page {
        width: inherit;
        height: 60vh;
        .lean(none);
    } .nav {
        min-height: none;
        width: inherit;
        height: 20vh;
        .lean(none);
    }
}

/* Elements */
#input {
    font-family: 'Ubuntu Mono';
    width: 50%;
    min-height: 300%;
} #editor {
    text-align: center;
    display: block;
    width: 90vw;
    font-size: smaller;
}
    
