/* Modules */
.flex {
    display: flex;
} .centerH {
    justify-content: center;
} .centerV {
    align-items: center;
} .centerA {
    .centerH();
    .centerV();
} .scroll {
    overflow-y: scroll;
    word-break: break-word;
} .textC {
    text-align: center;
} .invis {
    display: none;
}

/* Functions */
.border(@color) {
    border: 2px @color solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
} .section(@color) {
    color: @color;
    .border(@color);
    border-color: @color;
    background-color: fadeout(@color, 73.333%);
} .rangeW(@maxi, @mini) {
    min-width: @mini;
    max-width: @maxi;
} .rangeH(@maxi, @mini) {
    min-height: @mini;
    max-height: @maxi;
} .bg(@color) {
    background-color: @color;
} .align(@var) {
    text-align: @var;
} .lean(@var) {
    float: @var;
}

/* Cls */
body {
    .bg(#112222);
    font-family: "Ubuntu Mono";
    color: #aaaaaa;
} .contain {
    .flex();
    .centerA();
} .page {
    .rangeW(70vw, 60vw);
    height: 70vh;
    .border(#00ffff);
    .centerH();
    .scroll();
    .lean(right);
} .nav {
    .rangeW(20vw, 10vw);
    height: 70vh;
    .border(#00ffff);
    .lean(left);
    .centerH();
    .scroll();
    .flex();
} .head {
    color: #00ffff;
    font-size: larger;
    font-weight: bold;
} .code {
    .border(#334444);
    .bg(#223333);
} .note {
    .section(#ffff00);
} .warn {
    .section(#ff0000);
} .new {
    .section(#00ff00);
} .info {
    .section(#ff0088);
} .exc {
    .section(#00ffff);
} .comblock {
    .section(#888888);
} .fn {
    color: #ff8800;
} .aio {
    color: #ff0088;
} .cls {
    color: #8800ff;
} .lnk {
    .border(#008888);
    color: #00ffff;
    display: block;
    text-decoration: none !important;
    width: 80% !important;
    .align(left);
    &:hover {
        .section(#00ff00);
    }
} .alnk {
    .lnk();
    .section(#00ffff);
    &:hover {
        .section(#ff0088);
    }
} a {
    color: #aaffff;
}

@media screen and (max-width: 640px) {
    .contain {
        display: block;
    } .page {
        width: inherit;
        height: 20vh;
        .lean(none);
    } .nav {
        width: inherit;
        height: 20vh;
        .lean(none);
    }
}
